{% extends "base.html" %}

{% block title %}Cecytos Web Services{% endblock %}

{% block content %}

<header>
    <div class="hero">
        <div class="hero-2">
            <h1>Cecytos Web Services</h1>
            <h2>Sistema de apoyo comunitario</h2>
        </div>
    </div>
    <div class="carr-info-container">
        <div class="carr-info">
        <a target="_blank" href="https://google.com" id="dinamic-link" class="button-generic">Visitar</a>
    </div>
    <div class="carr-buttons-container">
        <div class="carr-buttons">
            <button class="carrusel-arrou" onclick="back_img()"><</button>
            <div class="selected" id="cl1"></div>
            <div class="selected" id="cl2"></div>
            <div class="selected" id="cl3"></div>
            <div class="selected" id="cl4"></div>
            <div class="selected" id="cl5"></div>
            <button class="carrusel-arrou" onclick="front_img()">></button>
        </div>
    </div>
    <div class="rail">
        <div class="carrusel" id="carrusel">
            <div class="carr-item" id="img1">

            </div>
            <div class="carr-item" id="img2">

            </div>
            <div class="carr-item" id="img3">

            </div>
            <div class="carr-item" id="img4">

            </div>
            <div class="carr-item" id="img5">

            </div>
        </div>
    </div>
</header>

<main>
    <div class="about">
        <div class="card-img">
            <img src="" alt="">
        </div>
        <div class="card-text">
            <h3>Quienes somos</h3>
            <p>
                Somos una plataforma libre y gratuita de apoyo a personas en
                proceso de rehabilitación de sustancias adictivas como drogas y alcohol,
                en esta plataforma puedes encontrar material util para la correcta reintegración
                a la sociedad, como cursos, videos y talleres que mejoraran las
                habilidades sociales de estas personas.   
            </p>
        </div>
    </div>
    <div class="links">
        <div class="card-link">
            <img src="" alt="">
            <h5>Link 1</h5>
            <p>
                Link 1 sobre cursos y algo asi,
                no se que poner es un borrador
            </p>
            <a href="" class="button-generic">Ir</a>
        </div>
            <div class="card-link">
            <img src="" alt="">
            <h5>Link 2</h5>
            <p>
                Link 2 sobre cursos y algo asi,
                no se que poner es un borrador
            </p>
            <a href="" class="button-generic">Ir</a>
        </div>
            <div class="card-link">
            <img src="" alt="">
            <h5>Link 3</h5>
            <p>
                Link 3 sobre cursos y algo asi,
                no se que poner es un borrador
            </p>
            <a href="" class="button-generic">Ir</a>
        </div>
    </div>

    <div class="extras">
        <div class="dinamic-card">
            <h5>Carta dinámica 1</h5>
            <p>
                Esta es una carta dinamica muy exotica
                en la que andre en su infinita sabiduria
                un dia que estaba alucinando mucho se
                le ocurrio y dijo la voy a hacer y si
                estan viendo esto es que funciono y
                seguramente se ve muy pero muy exotico
                😊😊😊
            </p>
        </div>
        <div class="dinamic-card">
            <h5>Carta dinámica 2</h5>
            <p>
                Esta es una carta dinamica muy exotica
                en la que andre en su infinita sabiduria
                un dia que estaba alucinando mucho se
                le ocurrio y dijo la voy a hacer y si
                estan viendo esto es que funciono y
                seguramente se ve muy pero muy exotico
                😊😊😊
            </p>
        </div>
        <div class="dinamic-card">
            <h5>Carta dinámica 3</h5>
            <p>
                Esta es una carta dinamica muy exotica
                en la que andre en su infinita sabiduria
                un dia que estaba alucinando mucho se
                le ocurrio y dijo la voy a hacer y si
                estan viendo esto es que funciono y
                seguramente se ve muy pero muy exotico
                😊😊😊
            </p>
        </div>
    </div>
</main>
    
<script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>

{% endblock %}